
body{
    background-color: beige;
}
h1{
    color: violet;
    position: center;
}

li{
    list-style-type: square;

}

.intro{
    justify-content: center;
}

.se{
    justify-content: center;
}

img{
    border-radius: 3px;
    position: center;
}

.info-section{
    position: relative;
    display: inline;
    justify-content: space-around;
    
}

footer{
    justify-content: center;
}

