body{
    
    background-color: #DCDCDC; 
    color: #212121; 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h1{
    text-align: center;
    position: center;
}

h1, h2, h3, p {
    margin: 20px 0;
}




#language-container {
    list-style-type: circle;
}

.contacts{
    display: flex;
    justify-content: center;
}

.email, .profile, .whatsApp{
    padding: 10px 12px 10px 12px;
}

#wavy-hand{
    text-align: center;
}

.intro{
    text-align: justify;
}

.se{
    text-align: center;
    color: blue;
    font-size: 20px;
}

#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
}

.info-section{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
#project1{
    margin: 20px;
    padding: 10px;
    box-shadow: 5px;
}

#project2{
    margin: 20px;
    padding: 10px;
    box-shadow: 5px;
}

.projects-done{
    text-align: center;
}

footer{
    text-align: center;
    font-size: medium;
    font-weight: 200;
    color: black;
}

.projects{
    display: grid;
    padding: 10px 20px;
    margin: 5px 7px;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

#navigation{
    list-style-type: none;
    position: fixed;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    background-color: black;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    list-style: none;
    transition: background-color 0.3s, color 0.3s;

}

.active{
    background-color: #00B0FF;
    color: #212121; 
    border-radius: 5px;
    padding: 10px;
}


li a:hover{
    background-color: #00FFB3;
    color: black;
}

.certs {
    list-style: disc;
}

#deets, #courses, #me, #edu, #tech{
    text-align: center;
}

#contacts_sec{
    background-color: #eaffe1;
}

#project1, #project2, #project3, #project4 {
    margin: 20px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
 

#skills{
    display: grid;
    padding: 10px 20px;
    margin: 5px 7px;
    color: red;
    justify-content: center;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}

.langauges{
    color:green;
    text-align: center;
    border: 10px 5px solid;
    /* background-color: #CDC1FF; */
}

#skills img, #github{
    width: 50px;
    height: 50px;
    margin: 10px 12px;
}

#github{
    justify-content: center;
}

div #skills{
    background-color: aquamarine;
} 

#p-header {
    animation-duration: 8s;
    animation-name: slide-in;
    animation-timing-function: ease;
    text-align: center; 
    color: #00B0FF;
}

@keyframes slide-in {
    from {
        transform: translateX(50px) scale(1.2); 
    }
    to {
        transform: translateX(0) scale(1); 
    }
}

#abt-me{
    display: flexbox;
    justify-content: space-between;

}

  