body{
    background-color: peachpuff;
    padding: 0;
    margin: 0;
}

h1{
    color: violet;
    text-align: center;
    position: center;
}

#language-container {
    list-style-type: circle;
}

.contacts{
    display: flex;
    justify-content: center;
}

.email, .profile, .whatsApp{
    padding: 10px 12px 10px 12px;
}

#wavy-hand{
    text-align: center;
}

.intro{
    text-align: justify;
}

.se{
    text-align: center;
    color: blue;
    font-size: 20px;
}

#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    
}

.info-section{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
#project1{
    margin: 20px;
    padding: 10px;
    box-shadow: 5px;
}

#project2{
    margin: 20px;
    padding: 10px;
    box-shadow: 5px;
}

.projects-done{
    text-align: center;
}

footer{
    text-align: center;
    font-size: medium;
    font-weight: 200;
    color: black;
}

.projects{
    display: flex;
    justify-content: left;
}

#navigation{
    list-style-type: none;
    position: fixed;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    background-color: black;
}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10 16px;
    text-decoration: none;
    list-style: none;

}

.active{
    background-color: aqua;
    color: black;
}

li a:hover{
    background-color: palevioletred;
    color: black;
}

.certs {
    list-style: disc;
}

#deets, #courses, #me, #edu{
    text-align: center;
}